# ----------------------
# Flask
# ----------------------
flask
Flask-WTF
Flask-SQLAlchemy
Flask-Migrate
Flask-Script
Flask-Login
psycopg2
# psycopg2==2.6.2

# ----------------------
# Production Server
# ----------------------
gunicorn
